cape-server/auditlog-manager/src/main/resources/it/eng/opsi/auditlogmanager/entities/ServiceEntry.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="data.servicemanager.opsi.eng.it"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="data.servicemanager.opsi.eng.it"
	elementFormDefault="qualified">


	<xsd:element name="ServiceEntry">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>Main entity of the registered service containing
					its description</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="serviceId" type="xsd:string"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Service's unique identifier issued by the
							service registry</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="serviceDescriptionTitle" type="xsd:string"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Well descriptive title of the service
							description</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="serviceUri" type="xsd:string"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Service URI</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="serviceDescriptionVersion" type="xsd:string"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Version identifier of the service description
							following developer's own format</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="serviceIconURI" type="xsd:string"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>URI to the logo representing the service in the
							registry</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="keywords" type="xsd:string"
					minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Selected set of keywords describing the service
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<xsd:element name="createdOnDate" type="xsd:long"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Date this service description was created
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="modifiedOnDate" type="xsd:long"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Date this service description was modified last
							time</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="serviceType" type="xsd:string"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Type of service. Value allowed: sink o source
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="modifiedByUserId" type="xsd:string"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="createdByUserId" type="xsd:string"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="serviceProviderId" type="xsd:string"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="humanReadableDescription" type="tns:HumanReadableDescription"
					minOccurs="1" maxOccurs="unbounded" />
				<xsd:element name="technicalDescriptionId" type="xsd:string"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="serviceDataDescription" type="tns:ServiceDataDescription"
					minOccurs="1" maxOccurs="1" />

			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="HumanReadableDescription">
		<xsd:annotation>
			<xsd:documentation>Class for the human readable service description
				like web pages or other documentation</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="locale" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>language locale</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Provided human readable description or document
						content</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ServiceDataDescription">
		<xsd:annotation>
			<xsd:documentation>Collection of metadata about service data
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="dataset" type="tns:Dataset" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Reference to a dataset that is part of service
						data (dcat:Dataset)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Free Text description of service data
						description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="schemaId" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Link (URI) to a schema used by a service
						registry to create a unified service data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="serviceDataDescriptionUri" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Link to a document that describes the service
						data description based on the defined schema (schemaID)
						(=serviceDataDescriptionDocument)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="taxonomy" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Link to a taxonomy that is used to describe data
						of a service (dcat:tmeneTaxonomy &amp; qb:codeList)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="title" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A name given to a service data description
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="issued" type="xsd:long" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Date when this dataset description was created
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="modified" type="xsd:long" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Date when this dataset description was modified
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Dataset">
		<xsd:sequence>


			<xsd:element name="contactPoint" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Relevant Contact Information of a dataset
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Free text description of the dataset. Possibly
						in multiple languages</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="issued" type="xsd:long" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Date when this dataset description was created
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="keyword" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>a keyword describing a dataset, possibly in
						multiple languages</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="purpose" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>a list of purpose of usage of the dataset
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="language" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>the language of the dataset</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="modified" type="xsd:long" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Date when this dataset description was modified
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="publisher" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>entity responsible for making the dataset online
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="serviceDataType" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>input or output data (data sink or data source)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="spatial" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>spatial coverage of the dataset
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="title" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A name given to the dataset. In multiple
						languages</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataStructureSpecification" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="dataMapping" type="tns:DataMapping"
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="DataMapping">
		<xsd:sequence>

			<xsd:element name="property" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>unique identifier of the component property
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="conceptId" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>links (URI) to existing taxonomies, vocabularies
						describing the property</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>name of the component property
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="type" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>type of the value of the property (e.g. xsd:int)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="required" minOccurs="1" maxOccurs="1"
				default="1">
				<xsd:annotation>
					<xsd:documentation>if the component is required or not. (1
						required, 0 not required)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:enumeration value="1" />
						<xsd:enumeration value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="sensitive" minOccurs="1" maxOccurs="1"
				default="1">
				<xsd:annotation>
					<xsd:documentation>if the component is sensitive or not. (1
						sensitive, 0 not sensitive)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:enumeration value="1" />
						<xsd:enumeration value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
