cape-server/consent-manager/src/main/resources/it/eng/opsi/consentmanager/entities/ServiceEntry.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="data.servicemanager.opsi.eng.it"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="data.servicemanager.opsi.eng.it"
	elementFormDefault="qualified">

	<xsd:element name="ServiceEntry">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>Main entity of the registered service containing
					its description
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="publicServiceID" type="xsd:string"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>This property represents a formally-issued
							Identifier for the Public Service
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="publicServiceName" type="xsd:string"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>This property represents the official Name of
							the Public Service
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="serviceUri" type="xsd:string"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Service instance URI</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="serviceDescriptionVersion" type="xsd:string"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Version identifier of the service description
							following developer's own format
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="publicServiceKeyword" type="xsd:string"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Selected set of keywords describing the service
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="publicServiceSector" type="xsd:string"
					minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
							This property represents the industry or sector
							a Public Service
							relates to, or is intended for.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="publicServiceTypeProp" type="xsd:string"
					minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
							This property represents the type of a Public
							Service as described in
							a controlled vocabulary.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="publicServiceLanguage" type="xsd:string"
					minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
							This property represents the language(s) in
							which the Public Service
							is available.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="publicServiceStatus" type="xsd:string"
					minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							Indicates whether a Public Service is active,
							inactive, under development
							etc. according to a controlled
							vocabulary.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="serviceType" type="xsd:string"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Type of service role: source, sink or both
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="serviceProviderId" type="xsd:string"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Service Provider id, stored in any register
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="organizationId" type="xsd:string"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Organization who provides service instance in
							"serviceUri"
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="spatial" type="xsd:string"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>	A Public Service is likely to be available only within a given area, typically the area covered by a particular public authority
						</xsd:documentation>
				</xsd:annotation>
				</xsd:element>
				<xsd:element name="lifeEvent" type="xsd:string"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>	This property links the Public Service to a particular Business Event class linked to a controlled vocabulary of event types
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>	
				<xsd:element name="businessEvent" type="xsd:string"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>	This property links the Public Service to a particular Life Event class linked to a controlled vocabulary of event types
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="humanReadableDescription" type="tns:HumanReadableDescription"
					minOccurs="1" maxOccurs="unbounded" />
				<xsd:element name="technicalDescriptionId" type="xsd:string"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="publicServiceIsDescribedAt" type="tns:PublicServiceDatasetType"
					minOccurs="1" maxOccurs="unbounded" />

			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="HumanReadableDescription">
		<xsd:annotation>
			<xsd:documentation>Class for the human readable service description
				like web pages or other documentation
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="locale" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>language locale</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Provided human readable description or document
						content
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PublicServiceDatasetType">
		<xsd:annotation>
			<xsd:documentation>Collection of metadata about service data. It
				reuses the Data Catalog Vocabulary (DCAT) for the creation of the
				Public Service Dataset class.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="publicServiceDatasetID" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						This property represents an Identifier for the
						Public Service Dataset.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="serviceDataDescriptionUri" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Link to a document that describes the service
						data description based on the defined schema (schemaID)
						(=serviceDataDescriptionDocument)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="taxonomy" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Link to a taxonomy that is used to describe data
						of a service (ex. dcat:themeTaxonomy)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="title" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A name given to a service data description
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="issued" type="xsd:long" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Date when this dataset description was created
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="modified" type="xsd:long" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Date when this dataset description was modified
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="purpose" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>a list of purpose of usage of the dataset
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="serviceDataType" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>input or output data (data sink or data source)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataStructureSpecification" type="tns:DataStructureSpecification"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="dataMapping" type="tns:DataMapping"
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DataMapping">
		<xsd:sequence>

			<xsd:element name="property" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>unique identifier of the component property
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="conceptId" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>links (URI) to existing taxonomies, vocabularies
						describing the property
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>name of the component property
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="type" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>type of the value of the property (e.g. xsd:int)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="required" minOccurs="1" maxOccurs="1"
				default="1">
				<xsd:annotation>
					<xsd:documentation>if the component is required or not. (1
						required, 0 not required)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:enumeration value="1" />
						<xsd:enumeration value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="sensitive" minOccurs="1" maxOccurs="1"
				default="1">
				<xsd:annotation>
					<xsd:documentation>if the component is sensitive or not. (1
						sensitive, 0 not sensitive)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:enumeration value="1" />
						<xsd:enumeration value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DataStructureSpecification">
		<xsd:sequence>
			<xsd:element name="component" type="tns:ComponentSpecification"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>reference to a specified component specification
						that is part of the data structure definition
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataStructureDefinitionId" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>unique identifier of a data structure definition
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>free text description of a data structure
						definition, possibly in multiple languages
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ComponentSpecification">
		<xsd:sequence>
			<xsd:element name="componentProperty" type="tns:ComponentProperty"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>reference to a specified component property that
						is part of the component specification "hasComponentProperty"
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="componentRequired" type="xsd:boolean"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indicated if a component is required (true) or
						optional (false) by a data sink.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="componentSpecificationId" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>unique identifier of a component specification
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="label" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a name of a component</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ComponentProperty">
		<xsd:sequence>
			<xsd:element name="componentPropertyId" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>unique identifier of the component property.It
						is the same of "property" element in dataMapping element
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="label" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>name of the component property
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="range" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>type of the value of the propertu (e.g. xsd:int)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
